* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    user-select: none;
    min-width: 99vw;
}


/*Header*/


/*Présentation header div*/

header {
    height: 50vh !important;
    /**width: 100%;*/
    margin: auto;
    display: block;
    position: relative;
    background: #F0EEED;
    /*background: linear-gradient(56deg, rgba(255, 243, 246, 1) 5%, rgba(191, 191, 191, 1) 57%, rgba(195, 195, 195, 1) 82%);
    background-image: url('./../img/illustration-minimalism-symmetry-blue-triangle-pattern-91245-wallhere.com.jpg');*/
}


/*Présentation header info*/

.infoHead {
    z-index: 0;
    width: 70%;
    height: 70%;
    margin: auto;
    position: relative;
    display: block;
    flex-direction: column;
}

.divImage {
    z-index: 0;
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.divImage img {
    margin: auto;
    width: 100%;
    display: block;
    position: relative;
}

.divText {
    margin: auto;
}

.divText h3,
.divText p {
    text-align: center;
}


/*aPropos*/

.aProposContainer {
    width: 100%;
    height: 750px;
    margin: auto;
    background-color: #303642;
}

.divApropos {
    width: 100%;
    height: 100%;
    margin: auto;
}

.aPropos {
    width: 100%;
    margin: auto;
    display: flex;
}

.divImg {
    width: 50%;
    height: 70%;
}

.divImg img {
    width: 96%;
    /*height: 90%;*/
    margin: auto;
}

.divAproposText {
    width: 40%;
    margin: auto;
}
.divAproposText h4{
    font: 20px Arial, sans-serif;
    text-align: center;
    color: antiquewhite;
}
.divAproposText p {
    font: 15px Arial, sans-serif;
    text-align: center;
    color: antiquewhite;
}

.cardPropos {
    height: 25%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.divAproposText {
    margin: auto;
    display: block;
    position: relative;
}

.cardPropos img {
    height: 80%;
    margin: auto;
}

.description {
    margin: auto;
}

.description h5{
    font: 11px Arial, sans-serif;
    color: #303642;
}

.cardPropos p {
    font:9.5px Arial, sans-serif;
    color: #303642;
}

.cardOne,
.cardTwo,
.cardThird,
.cardFourth {
    border-radius: 5px;
    display: flex;
    height: 80%;
    width: 22%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #F0EEED;
}

.cardOne:hover,
.cardTwo:hover,
.cardThird:hover,
.cardFourth:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardOne img,
.cardTwo img,
.cardThird img,
.cardFourth img {
    height: 70%;
}

.cardOne h3,
.cardTwo h3,
.cardThird h3,
.cardFourth h3,
.cardOne h4,
.cardTwo h4,
.cardthird h4,
.cardFourth h4,
.cardOne h5,
.cardTwo h5,
.cardThird h5,
.cardFourth h4,
.cardOne p,
.cardTwo p,
.cardThird p,
.cardFourth p {
    text-align: center;
}


/*Compétence*/

.competence {
    height: 80vh;
    width: 100%;
    margin: auto;
    background: #F0EEED;
    /*background: linear-gradient(56deg, rgba(255, 243, 246, 1) 5%, rgba(191, 191, 191, 1) 57%, rgba(195, 195, 195, 1) 82%);*/
}

.titreComp h3 {
    text-align: center;
}

.divCompetence {
    width: 100%;
    height: 80%;
    margin: auto;
}

.divCompetence {
    margin: auto;
    width: 100%;
    height: 100%;
}

.divCompetence ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20vh;
    margin: auto;
    padding-top: 6vh;
}

.divCompetence li {
    width: 15%;
    height: 50%;
}

.divCompetence img {
    height: 15vh;
    margin: auto;
    display: block;
}
.comp a{
    color: black;
    text-decoration: none;
}


/*Portfolio*/

/**Portfolio Porjet*/

.portfolio {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: #303642;
}

.portfolio p{
    color: #303642;
}

.entete {
    position: relative;
    margin: auto;
    height: 30%;
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.entete > img {
    margin: auto;
    /*display: block;*/
    height: 50%;
    margin: auto;
}

.entete > h5{
    font: 12px Arial, sans-serif;
    text-align: center;
    color: #303642;
    display: block;
    z-index: 1;
}

h5,
.soustitre h3 {
    text-align: center;
    color: #F0EEED;
}

.aperçu{
    z-index: 99;
    position: relative;
    top: -230px;
    left: 170px;
    height: 250px;
    width: 500px;
    visibility: hidden;
}
.aperçu > img{
    height: 250px;
    width: 500px;
}

.divPortfolio {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    margin: auto;
}

.soustitre {
    height: 10%;
    width: 100%;
    margin: auto;
    display: block;
}

.projet{
    height: 90%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border-right: solid 1px #F0EEED;
}

.exp{
    height: 100%;
    width: 40%;
}

.firstFolio,
.secondFolio,
.thirdFolio,
.fourthFolio {
    height: 40%;
    width: 40%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 2vh;
    display: block;
    position: relative;
    border-radius: 2%;
    background: #F0EEED;
}

.card1,
.card2,
.card3,
.card4 {
    margin: auto;
    width: 95%;
    height: 95%;
}
.card1 ul,.card2 ul,.card3 ul,.card4 ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-around;
}
.comp p{
    font:9.5px Arial, sans-serif;
    color: #303642;
}
.comp a{
    font:9.5px Arial, sans-serif;
    color: #303642;
}
/** Porfolio Expérience*/

.exp{
    height: 100%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cardExp1, .cardExp2, .cardExp3{
    height: 29.5%;
    width: 45%;
    border-radius: 2%;
    background: #F0EEED;
}
.cardExpEntete{
    height: 37%;
    width: 90%;
    margin: auto;
    border-bottom: solid 1px #303642;
    margin-bottom: 20px;
}

.cardExpEntete > img{
    height: 50%;
    display: block;
    margin: auto;
}

.cardExpEntete > h5{
    font: 12px Arial, sans-serif;
    text-align: center;
    color: #303642;
    display: block;
    z-index: 1;
}

/*Footer*/

footer {
    width: 100%;
    height: 40vh;
    display: flex;
    background: #F0EEED;
    /*background: linear-gradient(56deg, rgba(255, 243, 246, 1) 5%, rgba(191, 191, 191, 1) 57%, rgba(195, 195, 195, 1) 82%);*/
}

.contactMe {
    width: 60%;
    margin: auto;
}

.contactMe h3 {
    text-align: center;
    margin: auto;
}

.contactMe p {
    text-align: center;
}

.reseaux {
    width: 31%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.reseaux .instagram,
.reseaux .facebook,
.reseaux .linkedIn,
.reseaux .email {
    margin: auto;
}

.reseaux img {
    height: 10vh;
}

/** Effect*/

@media screen and (max-width: 1000px) {
    /**Header*/
    header{
        height: 30vh !important;
    }
    /**Compétence*/
    .competence {
        height: 50vh;
    }
    
    .divCompetence ul{
        height: 12vh;
    }
    
    .divCompetence img{
        height: 6.2vh;
    }
    /**Portfolio*/
    .portfolio{
        height: 60vh;
    }
    .divPortfolio {
        width: 100%;
    }
    .firstFolio,
    .secondFolio
    .thirdFolio,
    .fourthFolio {
        width: 40%;
    }
    .card1 .card2 {
        width: 100%;
    }

    .cardOne img,
    .cardTwo img,
    .cardThird img,
    .cardFourth img{
        height: 55%;
    }
    .description{
        width: 30vw !important;
    }
    .cardOne p,
    .cardTwo p,
    .cardThird p,
    .cardFourth p{
        font-size: 10px;
    }

    /**A Propos*/
    .divAproposText h5{
        font: 15px Arial, sans-serif;
    }
    .divAproposText p{
        font: 12px Arial, sans-serif;
    }
    /**Footer*/
    .reseaux img{
        height: 5vh;
    }
}

@media screen and (max-width:660px) {
    /**Portfolio*/
    .firstFolio,
    .secondFolio,
    .thirdFolio,
    .fourthFolio{
        height: 45%;
    }
    .card1,
    .card2,
    .card3,
    .card4{
        width: 90%;
    }
    .entete{
        height: 22%;
    }
    .entete h5{
        font: 7.2px Arial, sans-serif !important;
    }
    .comp ul{
        justify-content: space-around;
        padding: 0;
        height: 80%;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .comp p{
        font: 6px Arial, sans-serif !important;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .comp a{
        font: 6px Arial, sans-serif !important;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .competence {
        height: 125vh;
    }
    .cardExpEntete{
        height: 29%;
        margin-bottom: 7px;
    }
    .cardExpEntete h5{
        font: 7px Arial, sans-serif !important;
       
    }
    .cardExp1 ul, .cardExp2 ul, .cardExp3 ul{
        margin-left: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cardExp1 li, .cardExp2 li, .cardExp3 li{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    /**Competence*/

    .competence{
        height: 55vh;
    }

    /**A propos*/
    .aProposContainer{
        height: 450px;
    }

    .cardOne img,
    .cardTwo img,
    .cardThird img,
    .cardFourth img{
        height: 17%;
    }
    .divAproposText h4{
        font: 12px Arial, sans-serif;
    }
    .divAproposText p{
        font: 9px Arial, sans-serif;
    }
    .description h5{
        font: 8px Arial, sans-serif;
    }
    .description p{
        font: 6.5px Arial, sans-serif;
    }
}

@media screen and (max-width:400px){
    .infoHead h3{
        font: 17px Arial, sans-serif;
    }
    .infoHead p{
        font: 15px Arial, sans-serif;
    }
    .sideBar{
        height: 75px !important;
        width: 75px !important;
    }
    #sidebarCollapse{
        top: 15px !important;
        left: 15px !important;
    }
}

/*@media screen and (max-width:576px) {
    .divImg {
        display: none;
    }
    .aProposContainer {
        height: 150vh;
    }
    .cardPropos {
        width: 100%;
        height: 70%;
        margin: auto;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardOne,
    .cardTwo,
    .cardThird,
    .cardFourth {
        width: 60%;
    }
    /**Compétence */
    /*.competence {
        height: 45vh;
    }
    .divCompetence img {
        height: 10vh;
    }
    .divCompetence ul {
        justify-content: space-between;
    }
    /**Portfolio*/
    /*.divPortfolio {
        width: 100%;
    }
    .firstFolio,
    .secondFolio, 
    .thirdFolio,
    .fourthFolio {
        width: 47%;
    }
    .card1 .card2 {
        width: 100%;
    }
    /**Contatez-moi*/
    /*footer {
        flex-direction: column;
    }
    .reseaux {
        margin: auto;
    }
}*/

@media screen and (max-height:700px){
    .comp p{
        font: 8.5px Arial, sans-serif;
    }
    .comp a{
        font: 8.5px Arial, sans-serif;
    }
    .entete h5{
        font: 11px Arial, sans-serif;
    }
    .cardExpEntete h5{
        font: 9.5px Arial, sans-serif;
    }
}